#ajaxChatCopyright {
	margin-top: 5px;
	font-size: 0.8em;
	position: relative;
}
#ajaxChatCopyright p {
	margin: 0 75px;
	padding: 0;
}
#ajaxChatCopyright .chatlinkbutton,
#ajaxChatCopyright .chathelpbutton {
	font-size: 12px;
	padding: 4px 8px 4px 4px;
	height: 27px;
	height: calc(100% + 9px);
	position: absolute;
	margin: -4px 5px 0 -5px;
	border:none;
	border-radius: 0 13px 13px 5px;
	color: #fff;
	background: #970224;
	background: linear-gradient(
		rgb(168,3,41),
		rgb(168,3,41),
		rgb(151,2,36)
	);
}
#ajaxChatCopyright .chatlinkbutton:hover,
#ajaxChatCopyright .chathelpbutton:hover {
	text-decoration: underline;
}
#ajaxChatCopyright .chathelpbutton {
	right: 0;
	margin: -4px -5px 0 0;
	border-radius: 13px 0 5px 13px;
	padding: 4px 4px 4px 8px;
}
